import { HttpClient } from 'aurelia-http-client';
import { autoinject } from "aurelia-framework";

@autoinject
export class ${classname} {
  constructor(private httpClient: HttpClient){}

  myFunction(){
    ${cursor}
  }
}